
{% import_yaml "gedsas/alfresco/defaults.yaml" as defaults %}

{%- set home = defaults.alfresco.install.dir+'/'+defaults.alfresco.install.name %}
{%- set tomcat_home = home+'/'+defaults.alfresco.tomcat.name %}

{% do defaults.alfresco.update({ 'home'   : home ,
                                 'tomcat_home' : tomcat_home,    
                               } ) %}

{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('alfresco:lookup',default=defaults.alfresco,merge=True) %}

{# merge the actual postgres pillar into the above combined dict #}
{% set alfresco = salt['pillar.get']('alfresco', default=lookup, merge=True) %}

