
{% import_yaml "gedsas/swftools/defaults.yaml" as defaults %}


{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('swftools:lookup',
                                   default=defaults.swftools,
                                   merge=True) %}

{# merge the actual swftools pillar into the above combined dict #}
{% set swftools = salt['pillar.get']('swftools', default=lookup, merge=True) %}
