# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set fido = salt['grains.filter_by']({
    'default': {
        'dist': {
          'url': 'https://github.com/openplanets/fido/archive/1.3.2-81.zip',
          'hash': 'sha256=4ef48d9ee859159d038a9da61f79248a9be645dc70b74d5989ec7873c16fe269',
}
    },

}, merge=salt['pillar.get']('fido:lookup')) %}

