
{% import_yaml "gedsas/libreoffice/defaults.yaml" as defaults %}


{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('libreoffice:lookup',
                                   default=defaults.libreoffice,
                                   merge=True) %}

{# merge the actual libreoffice pillar into the above combined dict #}
{% set libreoffice = salt['pillar.get']('libreoffice', default=lookup, merge=True) %}

