# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set cines = salt['grains.filter_by']({
    'default': {
        'dist': {
          'url': 'http://ftp.adullact.org/deploiement/f/formatValidator2-RHEL.tgz',
          'hash': 'md5=b7d4cde46f9379130b146445f62ece80',
}
    },

}, 

merge=salt['pillar.get']('cines:lookup')) %}
