{% import_yaml "gedsas/ghostscript/defaults.yaml" as defaults %}


{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('gs:lookup',
                                   default=defaults.gs,
                                   merge=True) %}

{# merge the actual gs pillar into the above combined dict #}
{% set gs = salt['pillar.get']('gs', default=lookup, merge=True) %}
