# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set jing = salt['grains.filter_by']({
    'default': {
        'dist': {
          'url': 'http://ftp.adullact.org/deploiement/j/jing.zip',
          'hash': 'sha256=57690280aa6b5521b570aaa5fe77e1b48d84b2a1b0a24da62f9b982c4416908c',
},
        'debug': False,
    },

}, merge=salt['pillar.get']('jing:lookup')) %}

