# -*- coding: utf-8 -*-
# vim: ft=jinja
{% set asalae = salt['grains.filter_by']({
    'default': {
        'dist': {
        'url': 'http://ftp.adullact.org/deploiement/a/asalae1.6.5.zip',
        'hash': 'md5=e7ef0107fd3171c89e60697eeed8797a',
        'url_access': 'rec-centos-6-x64-01.adl-scic.org',
        'mail_domain': 'exemple.com',
        'mail_admin': 'admin@exemple.com',
        'name': 'asalae1.6.5',
        },

      'db': {
          'host': '10.255.234.5',
          'database': 'saem_asa_pp',
          'user': 'saem_asa',
          'login': 'saem_asa',
          'password': 'As@la3',
          'port': '5432',
        },
      'version':{
        'actuelle': 164,
        'cible': 165,
        },
       'referentiel':{
        'url': 'http://10.255.231.23:18080',
        'token':{
          'id': '8bda30737fc7464bb4daee3ff4fb7c85',
          'secret': '8380a12f41eb4128b0e6e6001fb674f4f53946f877c4454786ed0c394357cf6ba3f6f717f0704c19b6161a668a318e922f4bc885b48849ceaf20a1db89a42a2a',
       }
      },
    },
}, merge=salt['pillar.get']('asalae:lookup')) %}
