# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set cloudooo = salt['grains.filter_by']({
    'default': {
        'dist': {
          'url': 'http://ftp.adullact.org/deploiement/c/cloudooo-v1.25-trusty.tgz',
          'hash': 'md5=34978ede54cea233b1458911ddad18c4',
    },
      
    'ooo': {
          'url': 'http://ftp.adullact.org/deploiement/l/LibreOffice_4.2.6_Linux_x86-64_rpm.tar.gz',
          'hash': 'md5=51e8e5c87c6908bcc572eef2058b5253',
        },

    },
}, 

merge=salt['pillar.get']('cloudooo:lookup')) %}
